apiVersion: apps/v1
kind: Deployment 
metadata:
  name: database
  namespace: employeemanagement
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: mysql-db
  template:
    metadata:
      labels:
        app: mysql-db
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          imagePullPolicy: IfNotPresent
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef: 
                  name: employee-secret
                  key: DB_PASSWORD
            - name: MYSQL_DATABASE 
              valueFrom:
                secretKeyRef:
                  name: employee-secret
                  key: DB_NAME
          ports:
            - name: sql
              containerPort: 3306 
          volumeMounts:
            - name: mysqlvolume
              mountPath: /var/lib/mysql
            - name: init-script
              mountPath: /docker-entrypoint-initdb.d/
      volumes:
        - name: mysqlvolume
          hostPath: 
            path: /run/desktop/mnt/host/c/Users/rohit/Documents/dockerPractise/Kubernates/project1/db-data
            type: DirectoryOrCreate
        - name: init-script
          configMap:
            name: mysql-init-script